/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

:root {
  background: #667eea;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -o-linear-gradient(315deg, #667eea, #764ba2);
  background: linear-gradient(135deg, #667eea, #764ba2);
  min-height: 100vh;
  font-family: 'Alegreya Sans', sans-serif;
}

.scorecard {
  margin-bottom: auto;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  color: #e2d1c3;
  font-size: 2rem;
  letter-spacing: 1px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; 
  padding: 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

.question-container {
  margin-top: 30px;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-shadow: 0 0.5px 1px #764ba2;
}

.question-container h4 {
  font-size: 2.5rem;
   color: #e2d1c3;
}

.question-container span {
  font-size: 3.5rem;
  padding: 0 0.2rem;
  text-shadow: 1px 1px 1px #936326;
}

.selection {
  background: #CBB46F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  border-radius: 25px 0;
  -webkit-box-shadow: 1px 2px 5px #111;
          box-shadow: 1px 2px 5px #111;
  -webkit-transition: all 0.075s ease;
  -o-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

.selection-number {
  background: #9A731B;
  padding: 1rem 0;
  width: 4rem;
  text-align: center;
  border-radius: 25px 0 0 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.selection-answer {
  width: 100%;
  padding: 1rem 5px;
  border-radius: 0 0 25px 0;
}

/* .selection:hover .selection-number {
  background: #936326;
} */

.selection:hover {
  /* background: #39A6B5;
  -webkit-box-shadow: 3px 3px 6px #101;
          box-shadow: 3px 3px 6px #101; */
  cursor: pointer;
}

.correct {
  background: #517448;
}

.wrong {
  background: #DB7757;
}

.selected {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

/* @media (max-width: 1400px) {
  .selection:hover .selection-number {
    background: #9A731B;
  }
  
  .selection:hover {
    background: #CBB46F;
    -webkit-box-shadow: 1px 2px 5px #111;
    box-shadow: 1px 2px 5px #111;
  }
} */